<div class="control-group" data-ng-class="{error: errors.author}">
    <label class="control-label" for="author">Author</label>
    <div class="controls">
        <input type="text" id="author" name="author" required data-ng-model="item.author">
        <span class="help-inline" data-ng-show="errors.author">{{errors.author}}</span>
    </div>
</div>

<div class="control-group" data-ng-class="{error: errors.title}">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
        <input type="text" id="title" name="title" required data-ng-model="item.title">
        <span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
    </div>
</div>