
<div class="page-header">
	<h1>Edit Artist</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<form name="form" data-ng-submit="update(item)" class="form-horizontal">
	<input type="hidden" data-ng-model="item.id">
	<input type="hidden" data-ng-model="item.version">

	<div class="control-group" data-ng-class="{error: errors.familiarity}">
		<label class="control-label" for="familiarity">Familiarity</label>
		<div class="controls">
			<input type="text" id="familiarity" name="familiarity" required data-ng-model="item.familiarity">
			<span class="help-inline" data-ng-show="errors.familiarity">{{errors.familiarity}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.hotness}">
		<label class="control-label" for="hotness">Hotness</label>
		<div class="controls">
			<input type="text" id="hotness" name="hotness" required data-ng-model="item.hotness">
			<span class="help-inline" data-ng-show="errors.hotness">{{errors.hotness}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.latitude}">
		<label class="control-label" for="latitude">Latitude</label>
		<div class="controls">
			<input type="text" id="latitude" name="latitude" required data-ng-model="item.latitude">
			<span class="help-inline" data-ng-show="errors.latitude">{{errors.latitude}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.location}">
		<label class="control-label" for="location">Location</label>
		<div class="controls">
			<input type="text" id="location" name="location" required data-ng-model="item.location">
			<span class="help-inline" data-ng-show="errors.location">{{errors.location}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.longitude}">
		<label class="control-label" for="longitude">Longitude</label>
		<div class="controls">
			<input type="text" id="longitude" name="longitude" required data-ng-model="item.longitude">
			<span class="help-inline" data-ng-show="errors.longitude">{{errors.longitude}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.mbid}">
		<label class="control-label" for="mbid">Mbid</label>
		<div class="controls">
			<input type="text" id="mbid" name="mbid" required data-ng-model="item.mbid">
			<span class="help-inline" data-ng-show="errors.mbid">{{errors.mbid}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.name}">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" id="name" name="name" required data-ng-model="item.name">
			<span class="help-inline" data-ng-show="errors.name">{{errors.name}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.sevenDigitalId}">
		<label class="control-label" for="sevenDigitalId">Seven Digital Id</label>
		<div class="controls">
			<input type="text" id="sevenDigitalId" name="sevenDigitalId" required data-ng-model="item.sevenDigitalId">
			<span class="help-inline" data-ng-show="errors.sevenDigitalId">{{errors.sevenDigitalId}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Update</button>
		<button type="button" class="btn btn-danger" data-ng-click="delete(item)"><i class="icon-trash"></i> Delete</button>
	</div>
</form>
