<div id="modalBook" class="fade ng-valid modal hide ng-dirty" ui-modal="" ng-model="modalBookShown" style="display: block;">
    <div class="modal-header"><h1>Create Book</h1></div>

    <form name="form" data-ng-submit="save(item)" class="form-horizontal">
        <div class="modal-body">
            <div class="control-group" data-ng-class="{error: errors.author}">
                <label class="control-label" for="author">Author</label>
                <div class="controls">
                    <input type="text" id="author" name="author" required data-ng-model="item.author">
                    <span class="help-inline" data-ng-show="errors.author">{{errors.author}}</span>
                </div>
            </div>
            
            <div class="control-group" data-ng-class="{error: errors.title}">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" id="title" name="title" required data-ng-model="item.title">
                    <span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer form-actions">
            <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid" ng-click="modalBookShown=false">Create</button>
        </div>
    </form>
</div>

<ul class="nav nav-pills">
    <li ng-class="{active: $location.path() == '/books'}">
        <a ng-click="$location.path('/books')">List</a>
    </li>
    <li ng-class="{active: $location.path() == '/books/create'}">
        <a ng-click="$location.path('/books/create')">New Book</a>
    </li>
    <li ng-class="{active: modalBookShown}">
        <a ng-click="modalBookShown=true">New Book Modal</a>
    </li>
</ul>