<ul class="nav nav-pills">
    <li ng-class="{active: $location.path() == '/'+ $domain || $location.path() == '/'+$domain+'/list'}">
        <a ng-click="$location.path('/'+$domain)">List</a>
    </li>
    <li ng-class="{active: $location.path() == '/'+$domain+'/create'}">
        <a ng-click="$location.path('/'+$domain+'/create')">New {{$routeParams.domain}}</a>
    </li>
    <li ng-class="{active: $location.path() == '/'+$domain+'/#'+$domain+'Modal'}">
        <a data-toggle="modal" ng-href="#{{$domain}}Modal">New Book Modal</a>
    </li>
</ul>