<div ng-controller="SearchController">
    <form data-ng-submit="search()">
        <input type="text" data-ng-model="complete" data-ng-change="search()">
        <button type="submit" class="btn">Search</button>
    </form>
    <div data-ng-show="artistList.length">
        <table class="table table-hover span6">
            <thead>
                <th>Artiste</th>
                <th></th>
            </thead>
            <tr data-ng-repeat="artist in artistList">
                <td><a ng-click="checkDetails(artist.id)">
                    {{artist.name}}
                </a></td>
                <td><a data-ng-click="like(artist.id)"><i class="icon-star"></i></a></td>
            </tr>
        </table>
    </div>
    <div data-ng-hide="artistList.length">Pas d'artistes</div>
    <div data-ng-show="songList.length">
        <table class="table table-hover span6">
            <thead>
            <th>Chanson</th>
            <th></th>
            </thead>
            <tr data-ng-repeat="song in songList">
                <td><a ng-click="checkDetails(song.artist.id)">
                    {{song.artist.name}}
                </a></td>
                <td><a data-ng-click="like(song.artist.id)"><i class="icon-star"></i></a></td>
            </tr>
        </table>
    </div>
    <div data-ng-hide="songList.length">Pas de chansons</div>
</div>