<div ng-controller="MapController">
<div id="mainMap">Interactive Map</div>
<div id="locationSearch">
    <form>
        <input type="text" id=""locationSearchTerm data-ng-model="locationSearchTerm" />
        <button type="submit" class="btn" data-ng-click="searchLocation()">Search</button>
    </form>
    <ul>
    <div data-ng-repeat="event in eventsByLocation">
        <li>{{event.title}}</li>
    </div>
    </ul>
</div>
<!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
google maps -->
<div id="map_canvas" ui-map="myMap" class="map"
     ui-event="{'map-click': 'mapClick($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
     ui-options="mapOptions">
</div>

<script type="text/ng-template" id="pinhead">
    <div id="pinhead-container" class="transparent-item"><img src="pinhead" /></div>
</script>

<style>
    .map {
        height: 400px;
        width: 600px;
    }
</style>
</div>