<ng-include src="'ng-templates/book/pills.html'"></ng-include>

<div class="page-header">
	<h1>Create Book</h1>
</div>

<alert level="{{message.level}}" text="{{message.text}}"/>

<form name="form" data-ng-submit="save(item)" class="form-horizontal">

	<div class="control-group" data-ng-class="{error: errors.author}">
		<label class="control-label" for="author">Author</label>
		<div class="controls">
			<input type="text" id="author" name="author" required data-ng-model="item.author">
			<span class="help-inline" data-ng-show="errors.author">{{errors.author}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.title}">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<input type="text" id="title" name="title" required data-ng-model="item.title">
			<span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">Create</button>
	</div>
</form>
