<ng-include src="'ng-templates/book/pills.html'"></ng-include>

<div class="page-header">
    <h1>Book List</h1>
</div>

<alert level="{{message.level}}" text="{{message.text}}"/>

<table class="table table-bordered table-striped">
    <thead>
    <tr>

        <th>Author</th>

        <th>Title</th>

    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in list" data-ng-click="show(item)">

        <td>{{item.author}}</td>

        <td>{{item.title}}</td>

    </tr>
    </tbody>
</table>
<div class="pagination pagination-centered" data-pagination data-total="total"></div>